header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 70px;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}

ul{
 list-style: none;
 justify-content: space-between;
 display: flex;
 align-self: center;
 width: 100%
}