
@import '_menu.css';
@import '_edit-area.css';
@import '_body.css';
@import '_fonts.css';
@import '_footer.css';
@import '_form.css';

* {
    font-family: MavenPro;
}

	
.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
}

.modal-open[style] {
    padding-right: 0px !important;
}